
* {
  margin: 0;
  padding: 0;
}

ul,
li {
  list-style: none;
}

img {
  vertical-align: middle;
}

body {
  font-family: Roboto, sans-serif;
}

.container {
  max-width: 480px;
  min-width: 320px;
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;
}

.footer {
  background-color: #FFF5F6;
}

.footer__container {
  display: flex;
  flex-direction: column;
  border: 1px dashed #red;
}


.social-icons {
  display: flex;
  gap: 10px;
}

.social-icons--team {
  margin-top: 16px;
  padding: 0 32px;
}

.social-icons__item {
  padding: 12px;
  border-radius: 50%;
  font-size: 0px;
  display: flex;
  transition-property: background-color, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.social-icons__item:hover,
.social-icon__item:focus {
  background-color: var(--blue);
  color: var(--white);
}

.social-icons__item--team {
  color: var(--social);
  fill: currentColor;
}

.social-icons--footer {
  margin-top: 20px;
}

.social-icons__item--footer {
  background-color: rgba(255, 255, 255, 0.1);
  fill: var(--white);
}

