$primaryColor: #2196f3;

$secondaryColorBlack: #000000;
$secondaryColorDark: #212121;
$secondaryColorLight: #2f303a;
$secondaryColorSilver: #757575;
$secondaryColorSocial: #afb1b8;

$tertiaryColorWhite: #ffffff;
$tertiaryColorPortfolio: #eeeeee;
$tertiaryColorSmoke: #f5f4fa;

$primaryFont: Roboto, sans-serif;
$secondaryFont: Raleway, sans-serif;

$borderRadiusDefault: 4px;

$transitionDurationDefault: 250ms;
$transitionTimingDefault: cubic-bezier(0.4, 0, 0.2, 1);
